@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

:root {
	--clr-1: #4b4b4b;
	--clr-1-dark: #3c3c3c;
	--clr-1-darker: #3a3a3a;
	--clr-1-light: #c0c0c0;
	--clr-2: #d464a2;
	--clr-2-light: #e27ab3;
	--clr-3: #33589a;
	--clr-3-light: #7476b2;
	--clr-error: #ff4f4f;

	--font-family: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
	color: #ffffff;
	font-family: var(--font-family);
	font-weight: 700;
	letter-spacing: 1.2px;
}

p {
	color: #ffffff;
	font-family: var(--font-family);
	font-size: 20px;
}

label {
	color: #ffffff;
	font-family: var(--font-family);
	font-size: 20px;
	display: flex;
    align-items: center;
}

button {
	background-color: var(--clr-3);
	color: #ffffff;
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 17px;
	outline: none;
	border: none;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
	min-width: 12em;
	min-height: 2.5em;
	text-align: left;
	padding-inline: 3%;
}

button:active {
	background-color: var(--clr-3-light);
	box-shadow: none;
	transform: translateX(2px) translateY(2px);
}

input,
select {
	outline: none;
	font-family: var(--font-family);
	color: var(--clr-1-light);
	background-color: var(--clr-1);
	border: 1px solid var(--clr-1-light);
	min-width: 12em;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	cursor: pointer;
	border-radius: 4px;
	margin-right: 2px;
	opacity: 0.6;
	filter: invert(0.8);
}

table, th, td {
	border: 1px solid var(--clr-1-light);
	border-collapse: collapse;
	font-family: var(--font-family);
}

th, td {
	padding: 0.5em;
}

th {
	color: #ffffff;
}

td {
	color: var(--clr-1-light);
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
	display: flex;
	flex: auto;
	flex-direction: column;
	background-color: var(--clr-1);
	padding: 2.5em 3em;
}
