@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

:root {
	--clr-1: #4b4b4b;
	--clr-1-dark: #3c3c3c;
	--clr-1-darker: #3a3a3a;
	--clr-1-light: #c0c0c0;
	--clr-2: #d464a2;
	--clr-2-light: #d464a2;
	--clr-3: #33589a;
	--clr-3-light: #7476b2;

	--font-family: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
	color: #ffffff;
	font-family: var(--font-family);
	font-weight: 700;
	letter-spacing: 1.2px;
}

p {
	color: #ffffff;
	font-family: var(--font-family);
	font-size: 20px;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
	display: flex;
	flex: auto;
	flex-direction: column;
	background-color: var(--clr-1);
	padding: 2.5em 3em;
}
