.container {
	background: linear-gradient(135deg, var(--clr-1-dark) 0%, #343434 100%);
	border-radius: 5px;
	padding: 2em;
}

.container--home {
	display: grid;
	grid-template-columns: auto auto;
	gap: 4em;
}

.home__img {
	max-width: 600px;
	filter: opacity(0.8);
}
