.navbar__link {
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
	margin: 0 2.5em;
}

.link__text {
	display: flex;
	align-items: center;
	padding: 0.25em 0.4em;
}

.link__underline {
	height: 5px;
	width: 100%;
	margin-top: 0.4em;

	background: linear-gradient(
		90deg,
		var(--clr-2) 0%,
		var(--clr-2) 40%,
		var(--clr-3) 60%,
		var(--clr-3) 100%
	);
	background-size: 400% 400%;
	background-position: 0% 50%;
	transition: 0.7s ease-in-out;
}

.navbar__link:hover .link__underline,
.navbar__link:focus .link__underline {
	animation: 1s link__underline-hover alternate;
	background-position: 100% 50%;
}
