.navbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: var(--clr-1);
	border-bottom: 2px solid var(--clr-1-light);
}

.navbar__nav {
	display: flex;
	align-items: center;
}
