
.table-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:1em;
}

.table-options__field {
    display: flex;
    min-width: 10em;
}

.table-options__label {
    margin-right: 0.5em;
}

.table-options__input {
    min-width: 10em;
}

.table-options__btn {
    margin-left: 2em;
}